#jinja2: lstrip_blocks: True, trim_blocks:True

{% if http_policy_set is defined %}
  {% if http_policy_set.http_security_policy is defined %}
    {% set security_policy =  http_policy_set.http_security_policy %}
  {% endif %}
  {% if http_policy_set.http_request_policy is defined %}
    {% set request_policy =  http_policy_set.http_request_policy %}
  {% endif %}
  {% set rules_list = [] %}
avi_config:
  httppolicyset:
    - name: "{{ vs_parameters.vs_name + '-' + http_policy_set.name }}"
      tenant: {{ tenant_name }}
      {% if security_policy is defined %}
      http_security_policy: 
        rules: 
          {% for rule in security_policy.rules %}
          - enable: true 
            index: {{ loop.index}}
            name: "Rule {{ loop.index}}"
            match:
              protocol:
                match_criteria: "IS_IN"
                protocols: "{{ rule.protocol | default("HTTP") }}"
            action:
              action: "{{ rule.action | default("HTTP_SECURITY_ACTION_REDIRECT_TO_HTTPS") }}"
              https_port: "{{ rule.https_port | default(443)}}"
          {% endfor %}
      {% elif request_policy is defined %}
      http_request_policy:
        rules:
          {% for rule in request_policy.rules %}
          - enable: true
            index: {{ loop.index}}
            name: "Rule {{ loop.index}}"
            match:
              host_hdr:
                match_case: INSENSITIVE
                match_criteria: "{{ rule.match_criteria | default("HDR_EQUALS")}}"
                value:
                  - "{{ rule.host }}"
            switching_action:
              action: "{{ rule.action | default("HTTP_SWITCHING_SELECT_POOL")}}"
              pool_ref: "/api/pool/?name=pool-{{ pools[loop.index0].name }}"
          {% endfor %}
      {% endif %}
{% else %}
  avi_config: {}
{% endif %}