#jinja2: lstrip_blocks: True, trim_blocks:True
{% set health_monitor_refs = [] %}
{% if health_monitors is defined %}
  {% for monitor in health_monitors %}
    {{ health_monitor_refs.append("/api/healthmonitor/?name=" + vs_parameters.vs_name + '-' + monitor.name + '-' + (monitor.type | replace("HEALTH_MONITOR_", ""))) }}
  {% endfor %}
{% elif pool_parameters.health_monitor_refs is defined %}
  {% for monitor_ref in pool_parameters.health_monitor_refs %}
    {{ health_monitor_refs.append(monitor_ref) }}
  {% endfor %}
{% endif %}
{% if persistence_profile is defined %}
  {% set persistence_profile_ref = "/api/applicationpersistenceprofile/?name=" + vs_parameters.vs_name + '-' + persistence_profile.name %}
{% elif persistence_profile_ref is defined  %}
  {% set persistence_profile_ref = persistence_profile_ref %}
{% endif %}

{% if pool_ref is not defined %}
avi_config:
  pool:
    {% for pool in pools %}
    - name: "{{ 'pool-' + pool.name }}"
      {% if health_monitors is defined %}
      health_monitor_refs: {{ health_monitor_refs }}
      {% endif %}
      {% if persistence_profile_ref is defined %}
      application_persistence_profile_ref: "{{ persistence_profile_ref | default(omit) }}"
      {% endif %}
      {% if pool.ssl_profile_ref is defined %}
      ssl_profile_ref: "{{ pool.ssl_profile_ref | default(omit) }}"
      {% endif %}
      cloud_ref: {{ "/api/cloud/?name=" + cloud_name }}
      tier1_lr: "{{ vs_parameters.tier1_lr }}"
      lb_algorithm: "{{ pool.lb_algorithm | default(omit)}}"
      max_concurrent_connections_per_server: "{{ pool.max_connections | default(omit)}}"
      servers: 
        {% for server in pool.servers %}
        - hostname: "{{ server.hostname }}"
          ip:
            addr: "{{ server.ip_address }}"
            type: "V4"
          port: "{{ server.port | default(omit) }}"
          ratio: "{{ server.ratio | default(omit) }}"
        {% endfor %}
    {% endfor %}
{% else %}
avi_config: {}
{% endif %}

